body {
  font-family: "Times New Roman", Arial, sans-serif;
  background: radial-gradient(circle at center, #335 0%, #000 100%);
  color: white;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

#Ball {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  width: 300px;
}

#userQuestion {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
}

#ButtonAsk {
  background: linear-gradient(90deg, #0078ff, #00d4ff);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

#Answer {
  width: 200px;
  height: 200px;
  background-image: url("KULYA.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 25px auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: WHITE;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 480px) {
    #container {
      width: 90%;
      padding: 20px;
    }
    #ball {
      width: 100px;
      height: 100px;
      font-size: 18px;
    }
  }
